@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 60 50% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 60 50% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 122 45% 42%;
    --primary-foreground: 210 40% 98%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 25 100% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 60 15% 85%;
    --input: 60 15% 85%;
    --ring: 122 45% 42%;
    --radius: 0.8rem;
    --chart-1: 122 45% 42%;
    --chart-2: 25 100% 41%;
    --chart-3: 40 86% 51%;
    --chart-4: 190 74% 42%;
    --chart-5: 280 74% 52%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 90% 95%;
    --card: 24 10% 8%;
    --card-foreground: 60 90% 95%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 90% 95%;
    --primary: 122 40% 55%;
    --primary-foreground: 122 95% 15%;
    --secondary: 24 10% 15%;
    --secondary-foreground: 60 90% 95%;
    --muted: 24 10% 15%;
    --muted-foreground: 30 5% 64%;
    --accent: 25 95% 58%;
    --accent-foreground: 24 95% 5%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 90% 95%;
    --border: 24 10% 15%;
    --input: 24 10% 15%;
    --ring: 122 40% 55%;
    --chart-1: 122 40% 55%;
    --chart-2: 25 95% 58%;
    --chart-3: 40 86% 61%;
    --chart-4: 190 74% 52%;
    --chart-5: 280 74% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
